<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b8f71f83-b50a-4f77-bbca-69f451cb6e11" Publisher="CN=Brendan" Version="1.0.0.3" />
  <Properties>
    <DisplayName>PortableToolsDemo</DisplayName>
    <PublisherDisplayName>Brendan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PortableToolsDemo.App">
      <VisualElements DisplayName="PortableToolsDemo" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="PortableToolsDemo" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>